{
	"parser": "vue-eslint-parser",
	"parserOptions": {
		"parser": "@typescript-eslint/parser"
	},
	"extends": ["@nuxt", "plugin:prettier/recommended", "prettier"],
	"env": {
		"browser": true,
		"node": true
	}
}
